@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: 'Mononoki Nerd Font';
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: alpha(@base,0.5);
    /*border-bottom: 3px solid rgba( 100, 114, 125, 0.5);*/
    color: @text
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 144, 125, 0.5);
}

tooltip label {
    color: white;
}

#workspaces button {
    padding: 0 5px;
    margin: 1px;
    background: transparent;
    color: @text;
    border-bottom: 1px solid;
    border-bottom-color: alpha(@text,0.55)
}

#workspaces button.active {
    background: rgba(146, 68, 65, 0.9);
}

#workspaces button.urgent {
    background: rgba(203, 203, 203, 0.91);
    color: rgba(39, 39, 40, 0.91);
    transition: background-color .5s ease-out;
    transition: color .5s ease-out;
}

#workspaces button.empty {
    border: none;
}

#tray, #mode, #clock, #cpu, #pulseaudio, #memory {
    padding: 2px;
}

#clock {
    padding-right: 6px;
}
